<footer>
    <div class="footer-area"> 
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-bottom-menu">
                            <ul class="list-wrap">
                                <li><a href="contact.html">Learn English Naturally</a></li>
                                <li><a href="contact.html">Daily Lessons</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p>© 2026 Speakly <a href="https://github.com/sunpeng-fhc">sunpeng-fhc</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>