<header>
    <div id="header-fixed-height"></div>

    <div id="sticky-header" class="menu-area">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-12">
                    <div class="menu-wrap">
                        <div class="row align-items-center g-0">
                            <div class="col-xl-5">
                                <div class="header-left-side">
                                    <div class="offcanvas-toggle">
                                        <a href="javascript:void(0)" class="menu-tigger">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </a>
                                    </div>
                                    <div class="navbar-wrap main-menu d-none d-xl-flex">
                                        <ul class="navigation">
                                            <li>
                                                <a href="index.html">Home</a>
                                            </li>

                                            <li><a href="daily-lessons.html">Daily Lessons</a></li>

                                            <li class="menu-item-has-children"><a href="#">Categories</a>
                                                <ul class="sub-menu">
                                                    <li><a href="category.html?category=daily-life">Daily Life English</a></li>
                                                    <li><a href="category.html?category=food">Food English</a></li>
                                                    <li><a href="category.html?category=shopping">Shopping English</a></li>
                                                    <li><a href="category.html?category=transportation">Transportation English</a></li> 
                                                    <li><a href="category.html?category=work">Work English</a></li> 
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="about.html">About</a>
                                            </li>

                                            <li>
                                                <a href="contact.html">Contact</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4">
                                <div class="logo text-center">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt="Logo"></a>
                                </div>
                                <div class="logo d-none text-center">
                                    <a href="index.html"><img src="assets/img/logo/w_logo.png" alt="Logo"></a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-9 col-md-8">
                                <div class="header-right-side">
                                    <div class="header-search-wrap">
                                        <form action="#">
                                            <input type="text" placeholder="Search lessons . . .">
                                            <button type="submit"><i class="flaticon-search"></i></button>
                                        </form>
                                    </div>
                                    <div class="header-action d-none d-md-block">
                                        <ul class="list-wrap"> 
                                            <li class=" header-wishlist">
                                                <a href="https://buymeacoffee.com/speakly" class="support-btn"
                                                    style="
                                                    display:flex;
                                                    align-items:center;
                                                    gap:6px;
                                                    font-size:16px;
                                                    font-weight:600;
                                                    color:#4b5563;
                                                    margin-left:24px;
                                                    text-decoration:none;
                                                    transition:all .3s ease;
                                                    "

                                                    onmouseover="this.style.color='#ff7b72'"
                                                    onmouseout="this.style.color='#4b5563'"
                                                    >

                                                        <i class="fa-solid fa-mug-hot"
                                                        style="font-size:15px;"></i>

                                                        Support
                                                    </a>
                                            </li> 
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                    </div>

                    <!-- Mobile Menu  -->
                    <div class="mobile-menu">
                        <nav class="menu-box">
                            <div class="close-btn"><i class="fas fa-times"></i></div>
                            <div class="nav-logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt="Logo"></a>
                            </div>
                            <div class="nav-logo d-none">
                                <a href="index.html"><img src="assets/img/logo/w_logo.png" alt="Logo"></a>
                            </div>
                            <div class="mobile-search">
                                <form action="#">
                                    <input type="text" placeholder="Search here...">
                                    <button><i class="flaticon-search"></i></button>
                                </form>
                            </div>
                            <div class="menu-outer">
                                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                            </div>
                            <div class="social-links">
                                <ul class="clearfix list-wrap">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="menu-backdrop"></div>
                    <!-- End Mobile Menu -->

                </div>
            </div>
        </div>
    </div>

    <!-- offCanvas-area -->
    <div class="offCanvas-wrap">
        <div class="offCanvas-body">
            <div class="offCanvas-toggle">
                <span></span>
                <span></span>
            </div>
            <div class="offCanvas-content">
                <div class="offCanvas-logo logo">
                    <a href="index.html" class="logo-dark"><img src="assets/img/logo/logo.png" alt="Logo"></a>
                    <a href="index.html" class="logo-light"><img src="assets/img/logo/w_logo.png" alt="Logo"></a>
                </div>
                <p>Speakly helps A1-A2 English learners practice real-life English through short daily lessons, audio-supported reading, and sentence-by-sentence shadowing.
                Our goal is to make English learning feel simple, calm, and practical — one sentence at a time.</p>
                <ul class="offCanvas-instagram list-wrap">
                    <li><a href="assets/img/blog/hr_post01.jpg" class="popup-image"><img src="assets/img/blog/hr_post01.jpg" alt="img"></a></li>
                    <li><a href="assets/img/blog/hr_post02.jpg" class="popup-image"><img src="assets/img/blog/hr_post02.jpg" alt="img"></a></li>
                    <li><a href="assets/img/blog/hr_post03.jpg" class="popup-image"><img src="assets/img/blog/hr_post03.jpg" alt="img"></a></li>
                    
                </ul>
            </div>
            <div class="offCanvas-contact">
                <h4 class="title">Get In Touch</h4>
                <ul class="offCanvas-contact-list list-wrap">
                    <li><i class="fas fa-envelope-open"></i><a href="mailto:info@webmail.com">sunpeng.fhc@gmail.com</a></li>
                    <!-- <li><i class="fas fa-phone"></i><a href="tel:88899988877">888 999 888 77</a></li>-->
                    <li><i class="fas fa-map-marker-alt"></i> NW YYC</li> 
                </ul>
                <ul class="offCanvas-social list-wrap">
                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                    <!-- <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li> -->
                    <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="offCanvas-overlay"></div>
    <!-- offCanvas-area-end -->
</header>